<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /faast/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /faast/index.html [L]
</IfModule>